@media only screen and (max-width: 1080px)  {
    table {
	order : 0;
    }
    #REFE {
	order : 1;
    }
    .box_aside {
	display : none;
	text-align : center;
    }
}

.orientale{
    display : flex;
    flex-direction : row;
    align-self : stretch;
    align-items : center;
    justify-content : center;
}

.flexbox{
	display: flex;
	flex-direction : column;
	background : pink;
	text-align : center;
	align-items : center;
}
.box_head{
	align-self : stretch;
	background : silver;
	text-align : center;
}

.box_nav{
	align-self : center;
	background : #E6F8E0;
	text-align : center;
    }

.sigle{
    color:#58acfa;
}

.en-tete {
    display : flex;
    justify-content : space-around;
}
    

table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid grey;
}

a:link {
    color:blue;
}
a:visited {
    color: green;
}
a:hover {
    color:cyan;
}

a:active {
    color:yellow;
}

i {
    color:red;
}


.leftFloat {
    float : left;
    width : 150px;
    border : 1px solid #00F;
    height :50px;
    background : #0066FF;
}

.rightFloat {
    float : right;
    width : 150px;
    border : 1px solid #00F;
    height :50px;
}

.couleur {
    background : cyan;
}